#main-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.row-table {
    width: 100%;
    display: flex;
    align-items: center;
}

#content-container {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

#info-container {
    padding-left: 10px;
    flex: 4 0 0%; /* Aggiunto flex: 1; per farlo espandersi e occupare lo spazio rimanente */
}

#delete-button-container {
    padding-right: 10px;
    justify-content: flex-end; /* Posiziona il contenuto alla fine dell'asse principale (a destra) */
    align-items: center; /* Centra verticalmente il contenuto */
}

#buttons-container {
    display: flex;
    gap: 33px; /* Aggiunto gap per lo spazio tra i pulsanti */
    margin-top: 20px;
    justify-content: center;
}

.action-button {
    background-color: #3498db;
    color: #fff;
    padding: 13px 30px; /* Adattato padding per dimensioni basate sul testo */
    font-size: 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.action-button-create {
    background-color: #3498db;
    color: #fff;
    padding: 13px 30px; /* Adattato padding per dimensioni basate sul testo */
    font-size: 20px;
    float: right;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.row-table-create {
    width: 100%;
    display: flex;
    justify-content: flex-end; /* Puoi anche utilizzare 'justify-content: space-between;' */
    align-items: flex-end;
}