@model App_Progetto.Models.Piano

@{
    ViewData["Title"] = "Create";
}

<h1>Crea piano attuatore numero : @ViewData["CodAtt"]</h1>

<h4>Piano</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Ora di Attivazione -->
            <div class="form-group">
                <label asp-for="OrarioAttivazione" class="control-label">Ora di Attivazione</label>
                <input asp-for="OrarioAttivazione" class="form-control" type="time" />
                <span asp-validation-for="OrarioAttivazione" class="text-danger"></span>
            </div>

            <!-- Ora di Disattivazione -->
            <div class="form-group">
                <label asp-for="OrarioDisattivazione" class="control-label">Ora di Disattivazione</label>
                <input asp-for="OrarioDisattivazione" class="form-control" type="time" />
                <span asp-validation-for="OrarioDisattivazione" class="text-danger"></span>
            </div>

            <!-- Orario di Default -->
            <div class="form-group">
                <label asp-for="OrarioAttDefault" class="control-label">Orario di Default</label>
                <input asp-for="OrarioAttDefault" class="form-control" type="time" />
                <span asp-validation-for="OrarioAttDefault" class="text-danger"></span>
            </div>

            <!-- Orario di Disattivazione di Default -->
            <div class="form-group">
                <label asp-for="OrarioDisattDefault" class="control-label">Orario di Disattivazione di Default</label>
                <input asp-for="OrarioDisattDefault" class="form-control" type="time" />
                <span asp-validation-for="OrarioDisattDefault" class="text-danger"></span>
            </div>

            <!-- Altre sezioni del form... -->

            <div class="form-group">
                <label asp-for="CondAttivazione" class="control-label">Condizione di Attivazione</label>
                <input asp-for="CondAttivazione" class="form-control" />
                <span asp-validation-for="CondAttivazione" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CondDisattivazione" class="control-label">Condizione di Disattivazione</label>
                <input asp-for="CondDisattivazione" class="form-control" />
                <span asp-validation-for="CondDisattivazione" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="hidden" id="CodAtt" name="CodAtt" value="@ViewData["CodAtt"]" />  
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
