@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/stile.css" />
</head>

<div class="content-container">

    <div style= "top: auto;left: auto;font-family: Garamond;font-size:xx-large;color: #002b6b;">
        <p>
            <b>PROGETTO Applicazione Web 2022/2023 </b>
            <br>Relativo a progetto PISSIR 2021/2022
        </p>
    </div>
</div>

