@{
    ViewData["Title"] = "Home Page";
}

<style>

    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        background: url('https://www.touringclub.it/sites/default/files/contest_item_image/campodigrano_.jpg');
        background-size: cover;
        background-position: center;
        justify-content: center;
        align-items: center;
    }

    .content-container {
        background-color: rgb(255 255 255 / 47%);
        padding: 10px;
        border-radius: 30px;
        text-align: center;
    }

</style>

<div class="content-container">

    <div class="title" style= "top: auto;left: auto;font-family: Garamond;font-size:xx-large;color: #002b6b;">
        <p>
            <b>PROGETTO Applicazione Web 2022/2023 </b>
            <br>Relativo a progetto PISSIR 2021/2022
        </p>
    </div>
</div>

