@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>

    <header>
        <h1>@ViewData["Title"]</h1>
    </header>

    <section>
        <p>Benvenuto sulla pagina di Privacy del nostro progetto di applicazioni web per la gestione di terreni da coltivare a Vercelli nel 2023. Di seguito, troverai informazioni dettagliate su come gestiamo e proteggiamo i tuoi dati personali.</p>
    </section>

    <section>
        <h2>Raccolta delle Informazioni</h2>
        <p>Il nostro progetto raccoglie informazioni personali in varie forme, inclusi dati forniti volontariamente dagli utenti durante la registrazione e l'utilizzo dell'applicazione.</p>
    </section>

    <section>
        <h2>Utilizzo delle Informazioni</h2>
        <p>Le informazioni raccolte verranno utilizzate esclusivamente per la gestione e l'ottimizzazione dell'applicazione web per la coltivazione dei terreni. Non condivideremo le informazioni con terze parti senza il tuo consenso.</p>
    </section>

    <section>
        <h2>Protezione delle Informazioni</h2>
        <p>Adottiamo misure di sicurezza per proteggere le informazioni personali degli utenti e garantire la sicurezza dei dati. Utilizziamo protocolli di crittografia e procedure di sicurezza avanzate.</p>
    </section>

    <section>
        <h2>Cookie e Tecnologie Simili</h2>
        <p>Il nostro sito potrebbe utilizzare cookie e tecnologie simili per migliorare l'esperienza dell'utente. Consulta la nostra Politica sui Cookie per ulteriori dettagli.</p>
    </section>

    <section>
        <h2>Contatti</h2>
        <p>Per domande o preoccupazioni sulla nostra politica sulla privacy, contattaci all'indirizzo email: privacy@gestioneterreni2023.it</p>
    </section>

    <footer>
        <p>Ultimo aggiornamento: [Inserisci data dell'ultimo aggiornamento]</p>
    </footer>

</body>
</html>