@model App_Progetto.Models.Terreno

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Terreno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Mappale" class="control-label"></label>
                <input asp-for="Mappale" class="form-control" />
                <span asp-validation-for="Mappale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foglio" class="control-label"></label>
                <input asp-for="Foglio" class="form-control" />
                <span asp-validation-for="Foglio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ettari" class="control-label"></label>
                <input asp-for="Ettari" class="form-control" />
                <span asp-validation-for="Ettari" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CittaTerreno" class="control-label"></label>
                <input asp-for="CittaTerreno" class="form-control" />
                <span asp-validation-for="CittaTerreno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoColtura" class="control-label"></label>
                <input asp-for="TipoColtura" class="form-control" />
                <span asp-validation-for="TipoColtura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoTerreno" class="control-label"></label>
                <input asp-for="TipoTerreno" class="form-control" />
                <span asp-validation-for="TipoTerreno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

